* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav  a {
    color: black;
}
.header {
    display: flex;
    margin: auto;
    padding: 20px 0px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.header .logo {
    color: black;
    font-weight: bold;
    height: 100%;
    
}

.header .nav ul {
    display: flex;
    align-items:center;
    padding-left: 20px;
}

.header .nav li a img {
    height: 25px;
    width: 25px;
}

.hero {
    background-image: url(/img/Landingpage/hero.jpeg);
    background: black ;
    color: #fff;
    height: 400px;
    object-fit: cover;
    align-content: center;
}

.hero .container {
    width: 30%;
    padding: 100px 0px;
    margin-left: 15%;
    margin-top: 20px;
    justify-content:start ;
    display:flex;
    flex-direction: column;
}

.showcase {
    width: 70%;
    margin: auto;
    padding: 50px 0px;

}


.showcase .container {
    display: flex;
    flex: auto;
    margin-top: 20px;
    padding-top:20px ;
    align-items: center;
    justify-content:space-between ;
    
 
}

.showcase .container .card .card-body {
    background-color:grey;
    font: bold;
    max-height: 300px;
    overflow:hidden;
}

.showcase .container .card > img {
    object-fit: cover;
}


.abt {
    background-color: black;
    color: #fff;
    height: 600px;
}

.abt .container {
    width: 70%;
    padding: 150px 0px;
    align-items: center;
    align-self: center;
    justify-content:space-between;
    display:flex;
}
.abt .container .about {
    width: 50%;
}

.abt .container .video {
    width: 30%;
}
.carousel {
    background-color: #F2FAF9;
    height: 500px;
}
.carousel .container {
    width: 70%;
    background-color: brown;
    align-items: center;
    justify-content: center;
}
.carousel >img {
    justify-content: center;
}

.footer {
    background-color: black;
    color: white;
}
.footer .contain {
    width: 70%;
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .contain .container p , .footer .contain  {
    color: aquamarine;
}
.footer .contain .container ul {
    list-style-type: none;
    padding-left: 0px;
    
}

.artikel-header {
    padding: 20px;
    margin: auto;
    height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(./img/Landingpage/highlight-artikel1.jpeg);
}

.artikel-content {
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding: 90px;
}

.artikel-content h1 {
    text-align: center;
}

.artikel-content p {
    text-align: justify;
    text-indent: 20px;
}


.artikel-showcase {
    display: flex;
    flex:wrap ;
}

.artikel-showcase .artikel-img {
    flex:auto;
    text-align: center;
    margin: 0px;
}

