<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <title>Destinasi</title>
</head>
<body>
    <header>
        <div class="destinasi-header"></div>
    </header>
    <section>
        <div class="artikel-content">
            <h1>Wisata Tanah Lot</h1>
            &nbsp;
            <p>       Tanah Lot adalah salah satu destinasi wisata yang terkenal di Bali, Indonesia. Terletak di desa Beraban, kecamatan Kediri, Kabupaten Tabanan, Tanah Lot terkenal dengan keindahan pemandangan laut dan pura yang berdiri di atas karang. Berikut adalah beberapa keindahan yang dapat ditemukan di Tanah Lot:

                Pemandangan Karang yang Indah Tanah Lot terkenal dengan pemandangan karang yang indah dan menjadi latar belakang yang sempurna untuk foto. Karang-karang di sekitar Tanah Lot memiliki warna yang berbeda-beda, mulai dari putih, coklat, hingga merah yang menambah keindahan tempat ini.
                Pura Tanah Lot Pura Tanah Lot adalah pura yang terletak di atas karang dan merupakan salah satu pura yang paling terkenal di Bali. Pura ini dibangun pada abad ke-16 oleh seorang pendeta Hindu, dan di dalamnya terdapat kuil kecil yang didedikasikan untuk dewa laut.
                Sunset yang Spektakuler Salah satu momen yang paling ditunggu-tunggu oleh pengunjung Tanah Lot adalah saat matahari terbenam di sekitar pura. Pemandangan sunset yang spektakuler dengan latar belakang karang dan laut menambah keindahan tempat ini.
                Ombak yang Cocok untuk Berselancar Ombak di sekitar Tanah Lot juga terkenal sebagai tempat yang cocok untuk berselancar. Selain itu, para pengunjung juga dapat menikmati keindahan ombak dari atas karang.
                Suasana yang Tenang dan Damai Selain keindahan alamnya yang menakjubkan, Tanah Lot juga dikenal dengan suasana yang tenang dan damai. Pengunjung dapat menikmati keindahan alam sambil merasakan ketenangan dan kedamaian yang terasa di sekitar Tanah Lot.
                
                Itulah beberapa keindahan yang dapat ditemukan di Tanah Lot. Destinasi wisata ini merupakan tempat yang ideal untuk menikmati keindahan alam Bali sambil merasakan kedamaian dan ketenangan yang tersedia di sekitarnya. Jangan lupa untuk mengunjungi Tanah Lot saat berkunjung ke Bali!</p>
        </div>

        
    </section>
    <section class="artikel-showcase">
        <div class="artikel-img">
            <img  height="300px" src="/img/Landingpage/highlight-destinasi3.jpeg">
        </div>
        <div class="artikel-img">
            <img height="300px" src="/img/Landingpage/highlight-destinasi2.jpeg">
        </div>
        <div class="artikel-img">
            <img  height="300px" src="/img/Landingpage/highlight-destinasi1.jpeg">
        </div>
    </section>
    <section class="artikel-lokasi">
        <h1>Lokasi Wisata Tanah Lot </h1>
        &nbsp;
        <div class="lokasi">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500px" id="gmap_canvas" src="https://maps.google.com/maps?q=tanah lot&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
        </div>
    </section>
</body>
</html>